:host{
  width: 100%;
}

.axis--x path {
  display: none;
}
    
.line {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: sans-serif;
  font-size: 10px;
}
label{
  font-size: 0.9rem;
}
#timeline1 .axis {
  transform: translate(0px,40px);
  -ms-transform: translate(0px,40px); /* IE 9 */
  -webkit-transform: translate(0px,40px); /* Safari and Chrome */
  -o-transform: translate(0px,40px); /* Opera */
  -moz-transform: translate(0px,40px); /* Firefox */
}
.coloredDiv {
  height:20px; width:20px; float:left;
}
body {
  background-color: #fff;
}

nav {
  left: 0;
  right: 0;
}

ul.menu {
  width: 940px;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  margin: auto;
  padding: auto;
  list-style: none;
  padding-left: 6px;
}
ul.menu > li {
  float: left;
  width: auto;
  padding-right: 20px;
}
ul.menu > li a {
  display: block;
  width: auto;
  text-decoration: none;
  color: white;
}
ul.menu li:hover {
  background-color: #3d3b56;
}
ul.menu li:hover ul {
  background: #3d3b56;
  visibility: visible;
  list-style: none;
  /* z-index: 99; */
  padding-right: 30px;
}

ul.sub-menu {
  visibility: hidden;
  display: block;
  position: absolute;
  line-height: 40px;
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 6px;
}
ul.menu a,
ul.sub-menu a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  padding: 0 10px;
}
.btn{
  border-radius: 20px;
  background: #d4af7a;
  color: white;
}
select{
  width: 220px;
  height: 35px;
  border-radius: 10px;
}